/* width */

$w1200: 1200px;
$w800: 800px;

/* height */

$h70: 70px;
$h60: 60px;

/* font-size */

$font12: 12px;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font26: 26px;

/* border-raduis */

$br-s: 6px;
$br-m: 12px;
$br-l: 20px;
$circle: 50%;

/* color */

$white: #fff;
$black: #000;

/* box-shadow  */

$base: 0 2px 4px rgba(0, 0, 0, 0.12),
0 0 6px rgba(0, 0, 0, 0.04);
$simple: 0 2px 12px 0 rgba(0, 0, 0, 0.1);